# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PZ_P_2/PZ_P_2.sln
.vs/VSWorkspaceState.json
/.vs
/PZ_P_2/.vs
PZ_P_2/PZ_P_2/PZ_P_2.vcxproj
PZ_P_2/PZ_P_2/PZ_P_2.vcxproj.filters
PZ_P_2/PZ_P_2/PZ_P_2.vcxproj.user
/PZ_P_2/PZ_P_2/x64
